#heading{
    text-align: center;
}
#title{
    text-transform: capitalize;
    font-size: 38px;
}
body{
    background-image: url(../images/how-to-cope-with-anxiety-and-depression-722x406.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#survey-form{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border: 2px solid rgba(5, 3, 3, 0.082);
}
#name,#email,#age,#dropdown{
    padding: 15px;
    border-radius: 10px;
}
#name-label,#email-label,#number-label,p{
    font-size: 24px;
}
label,option{
    font-size: 18px;
}
input-textarea{
    min-height: 150px;
    width: 100%;
}