#heading{
    text-align: center;
}
#title{
    text-transform: capitalize;
    font-size: 38px;
}
#form-fold{
    display: flex;
    flex-direction: column;
}
body{
    background-image: url(../images/how-to-cope-with-anxiety-and-depression-722x406.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}