#heading{
    text-align: center;
}
#title{
    text-transform: capitalize;
    font-size: 38px;
}
#form-fold{
    display: flex;
    flex-direction: column;
}
body{
    background-image: url(../images/how-to-cope-with-anxiety-and-depression-722x406.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#survey-form{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border: 2px solid rgba(0, 0, 0, 0.082);
    box-shadow: black;
}